<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mylibrary">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/mylibraryicon"
        android:label="My library"
        android:networkSecurityConfig="@xml/raz"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLibrary">
        <activity
            android:name="activity.BookCaseActivity"
            android:exported="false" />
        <activity
            android:name="activity.UserActivity"
            android:exported="false" />
        <activity
            android:name="activity.BookInfoActivity"
            android:exported="false" />
        <activity
            android:name="activity.AddBookActivity"
            android:exported="false" />
        <activity
            android:name="activity.SignActivity"
            android:exported="false" />
        <activity
            android:name="activity.PersonalAreaActivity"
            android:exported="false" />
        <activity
            android:name="activity.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name="activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>